/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-cjp-blocks-toggle-container {
	padding: 1rem;
}

.wp-block-cjp-blocks-toggle {
	p,
	h3 {
		margin: 0;
	}

	gap: 0rem;
	padding: 0;
}
