/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

// .wp-block-cjp-blocks-section {
// }

.trans-container {
	overflow: hidden;
	line-height: 0;

	svg {
		margin-bottom: -1px;
	}
}

// Trans From

.trans-container.from-background-clear {
	background-color: var(--cream-200);
}

.trans-container.from-background-blue-600 {
	background-color: var(--blue-600);
}

.trans-container.from-background-peach-800 {
	background-color: var(--peach-800);
}

.trans-container.from-background-peach-100 {
	background-color: var(--peach-100);
}

// Trans To

.background-peach-800 .trans-container {
	svg {
		fill: var(--peach-800);
	}
}

.background-blue-600 .trans-container {
	svg {
		fill: var(--blue-600);
	}
}

.background-peach-100 .trans-container {
	svg {
		fill: var(--peach-100);
	}
}

.background-clear .trans-container {
	svg {
		fill: var(--clear);
	}
}
